language: cpp
dist: xenial
sudo: true
osx_image: xcode10.1

os:
  - linux
  - osx

env:
  - MINGW=false
  - MINGW=true

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$MINGW" == "true" ]]; then sudo apt-get -qq update; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$MINGW" == "true" ]]; then sudo apt-get install -y mingw-w64; fi

script:
  - if [[ "$MINGW" == "false" ]]; then ./tests/run_tests_pc.sh; fi
  - if [[ "$MINGW" == "false" ]]; then ./tests/run_tests_mcu.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$MINGW" == "false" ]]; then ./tests/run_tests_rpi3-armhf.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" && "$MINGW" == "false" ]]; then ./tests/run_tests_rpi3-armhf.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$MINGW" == "true" ]]; then ./tests/run_tests_mingw.sh; fi
